.osszSpan{
    margin: 3%;
}
#form{
    display: grid;
}
.baseinput{
    margin-top: 2%;
    margin-bottom: 2%;
}

#radios{
    margin: auto;
    margin-top: 3%;
}
#errors{
    display: grid;
    margin-top: 2%;
}
.error{
    background-color: brown;
    color: antiquewhite;
}